<div class="search-form">
    <form method="GET">
        <div class="mb-3">
            <label for="search-input" class="form-label">Nhập từ khóa</label>
            <input name="name" type="text" class="form-control" id="search-input" placeholder="nhập từ khóa">
        </div>
        <div class="mb-3">
            <label for="geneder-input" class="form-label">Nhập từ khóa</label>
            <select name="gender" class="form-control" id="geneder-input">
                <option value="">-- Chọn Giới Tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>